/* frontend/src/components/Navbar.css */
.navbar {
    background-color: #333;
    color: white;
    padding: 36px 2cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: padding 0.3s ease, background-color 0.3s ease;
}

/* Klasa shrink dla zmniejszania navbaru podczas scrollowania */
.navbar.shrink {
    padding: 16px 2cm; /* Mniejszy padding po scrollu */
    background-color: #000000cc; /* Półprzezroczyste tło */
}

.logo {
    display: flex;
    align-items: center; /* Wyśrodkowanie ikony i tekstu w pionie */
}

.logo a {
    text-decoration: none; /* Usunięcie podkreślenia */
    color: white; /* Ustawienie koloru tekstu na biały */
    font-size: 24px;
    font-weight: bold;
}

.logo-icon {
    width: 40px; 
    height: auto; 
    margin-right: 12px; /* Odstęp między ikoną a tekstem */
}

/* .logo-text{
    margin-right: 10px;
} */

.navbar-navItems {
    list-style-type: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    text-align: center;
    line-height: normal;
    vertical-align: middle;
}

.navbar-navItems.active {
    display: block; /* Pokaż menu, gdy jest otwarte */
    background-color: #000000cc;
}

.navbar-navItems li {
    margin-left: 14px;
}

.navbar-navItems a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 16px;
    transition: color 0.8s ease;
    border: 2px solid transparent;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.navbar-navItems a:hover,
.navbar-navItems a.active {
    color: #5b50f2;
    transition: border 0.8s ease;
    border: 2px solid #5b50f2;
    box-shadow: 0px 0px 1em #5b50f2;
}


.hamburger {
    display: none; /* Domyślnie ukryte */
    flex-direction: column;
    cursor: pointer;
    right: 10px;
    padding-left: 10px;
}

.hamburger.active {
    display: flex; /* Pokaż hamburger, gdy menu jest otwarte */
}

.hamburger .bar {
    width: 35px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px white;
}


/* Responsywność */
@media (max-width: 768px) {

    
    .navbar-navItems {
        display: none; /* Ukryj menu na mniejszych ekranach */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Wysunięcie menu poniżej navbaru */
        left: 0;
        width: 100%; /* Szerokość na całą szerokość ekranu */
        background-color: #333; /* Tło menu */
        padding: 10px 0;
    }

    .navbar-navItems.active {
        display: flex; /* Pokaż menu, gdy jest otwarte */
    }

    .navbar-navItems li {
        margin: 10px 0; /* Odstęp między elementami menu */
        text-align: center; /* Wyśrodkowanie elementów menu */
    }

    .hamburger {
        display: flex; /* Pokaż hamburger na małych ekranach */
    }
}
