/* .navbar */
.navbar {
    background-color: #333;
    color: white;
    padding: 36px 2cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: padding 0.3s ease, background-color 0.3s ease;
}

/* Klasa shrink dla zmniejszania navbaru podczas scrollowania */
.navbar.shrink {
    padding: 16px 2cm;
    background-color: #000000cc;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo-icon {
    width: 40px;
    height: auto;
    margin-right: 12px;
}

/* Stylizacja nawigacji */
.navbar-navItems {
    list-style-type: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    text-align: center;
    line-height: normal;
}

.navbar-navItems.active {
    display: block;
    background-color: #000000cc;
}

/* Stylowanie linków w menu */
.navbar-navItems li {
    margin-left: 14px;
}

.navbar-navItems a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 16px;
    transition: color 0.8s ease;
    border: 2px solid transparent;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.navbar-navItems a:hover,
.navbar-navItems a.active {
    color: #5b50f2;
    border: 2px solid #5b50f2;
    box-shadow: 0px 0px 1em #5b50f2;
}

/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger.active {
    display: flex;
}

.hamburger .bar {
    width: 35px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px white;
}

/* Responsywność */
@media (max-width: 768px) {

    .navbar-navItems {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
    }

    .navbar-navItems.active {
        display: flex;
    }

    .navbar-navItems li {
        margin: 10px 0;
        text-align: center;
    }

    .hamburger {
        display: flex;
    }
}

/* Stylizacja dla większych ekranów */
@media (min-width: 769px) {
    .navbar-navItems {
        display: flex;
    }

    .navbar-navItems li {
        margin-left: 14px;
    }

    .hamburger {
        display: none;
    }
}