/* frontend/src/components/StepsProcess.css */

/* Kontener dla sekcji */
.steps-process-container {
    background-color: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
}


.steps-title {
    font-size: 32px;
    color: #000000;
    margin-bottom: 40px;
}

.steps-cards {
    display: flex;
    justify-content: center; /* Centrowanie bloków */
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; /* Odstęp między blokami */
    max-width: 1200px;
    margin: 0 auto 100px;
}

/* Styl dla poszczególnych kroków */
.step-card {
    background-color: #f0f0f0;
    border-radius: 15px;
    /* padding: 30px; */
    width: 100px;
    text-align: center;
    height: 160px;
}

.icon-wrapper {
    background-color: #e0e7ff;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.icon-wrapper ion-icon {
    font-size: 40px;
    color: #5b50f2;
}


.step-card p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

/* Strzały między krokami */
.arrow {
    font-size: 40px;
    color: #5b50f2;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrowanie strzał */
    flex-basis: 50px; /* Minimalna szerokość dla symetrycznego układu */
}

/* Responsywność */
@media (max-width: 1024px) {
    .steps-cards {
        gap: 20px;
    }

    .arrow {
        font-size: 30px; /* Zmniejszenie strzał dla mniejszych ekranów */
    }
}

@media (max-width: 768px) {
    .steps-cards {
        flex-direction: row; /* Ustawienie pionowe bloków */
        align-items: center;   /* Centrowanie */
        gap: 20px;
    }

    .step-card {
        width: 200px; /* Dopasowanie szerokości do ekranu */
    }

    .arrow {
        display: none; /* Ukrycie strzał na małych ekranach */
    }
}
